
:root {
    --primary-white-color: #F5F5F5;
    --secondary-color: #2F303A;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    }
.page {
    background-color: #F5F5F5
    color var(--secondary-text-color) ;
}
/* Стилі для index.html */

.list{
    list-style: none;
}
/* Стилі лого*/
.logo {
    color: #000000;
}
.logo:hover {
    color: var(--accent-color);
}
.logo-title {
    color: var(--accent-color);
}

/* Cтилі шапки */
.site-nav .link {
    color: var(--primary-text-color);
  }
  .site-nav .link.current {
    color: var(--accent-color)
  }
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
  }
/* Стилі контактів */

.mail {
    color: var(--accent-color);
}
.tel {
    color: var(--secondary-text-color);
}
 .site-contact .link:hover,
 .site-contact .link:focus {
    color: var(--accent-color);
  }
/* hero */
.hero {
   background: var(--primary-text-color);
}
.title-hero {
    color: #FFFFFF;;
}

/* Секції */
.section {
    color: var(--secondary-text-color);
}
.section-title {
    color: var(--primary-text-color);
}
.site-adress .link:hover, 
.site-adress .link:focus {
    color: var(--accent-color);
}


/* стилі для portfolio.html */